* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
    margin-right: 5px;
}

body {
    background-color: #1DA1F2;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    max-width: 600px;
    min-height: 200px;
    border-radius: 5px;
    padding: 18px;
}

h2 {
    font-size: 15px;
    padding-top: 5px;
}

.encabezado {
    min-width:200px;
    display: flex;
    flex-wrap: wrap;
}

.fecha {
    font-size: 12px;
    color: rgb(41, 41, 41);
    padding: 15px 0px;
}

span {
    font-weight: bold;
    margin-left: 8px;
  
}

ul {
    list-style: none;
    margin-bottom: 10px;
}

img {
    padding-right: 10px;
}

#ada {
    font-weight: 600;
    font-size: 15px;

}

.abajo {
    border-top: 1px solid lightgray;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    font-size: 13px;
}


