html, body {
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
 
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    width: 100%;
}

section {
    width: 300px;
    height: 199px;
    margin: 2px 0px;
    margin-left: auto;
    margin-right: auto;
}


.vertical {
    width: 100px;
    height: 199px;
    float: left;
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;

}

.blanco {
    background-color: white;    
}

.horizontal {
    width: 100%;
    height: 66px;
    float:right;
}

.celeste {
    background-color: lightblue;
}

.negro {
    background-color: black;
}

.amarillo {
    background-color: rgb(255, 217, 0);
}

.amarilloancho {
    background-color: rgb(255, 217, 0);
    height: 99px;
}

.azulfino {
    background-color: rgb(28, 28, 172);
    height: 25%;
}

.rojofino {
    background-color: red;
    height: 25%;
}